
*,*:before,*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*{
  font-family: $content-font;
}
html{
  font-size: $base-font-size;
}
body{
  background-color: $black;
}
h1,h2,h3,h4,h5,h5,h6{
  font-weight: bold;
  font-style: normal;
}
p{
  color: $white;
}
.container{
  padding: 20px 15px;
  margin: 0 auto;
  max-width: $container-width;
}
.container-fluid{
  padding: 20px 0px;
  margin: 0 auto;
  max-width: $container-width;
}
.vertical-align-center{
  align-items: center;
  justify-content: center;
  display: flex;
}
.flex-container{
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.flex-container-no-wrap{
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}
.flex-item-mobile-100{
  flex: 0 0 100%;
}
.min-height-section{
  min-height: 400px;
}
.screen-reader {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
@include tablet {
  .flex-item-tablet-50{
    flex: 0 0 50%;
  }
}
@include desktop {
  .flex-item-desktop-25{
    flex: 0 0 25%;
  }
}